@import 'tailwindcss';

@font-face {
	font-family: 'DM Sans';
	src: url('/fonts/DMSans-VariableFont_opsz_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-display: swap;
}

@font-face {
	font-family: 'Bricolage Grotesque';
	src: url('/fonts/BricolageGrotesque-VariableFont_opsz_wdth_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-display: swap;
}

html,
body {
	font-family: 'DM Sans', sans-serif;
	background-color: hsl(243 96% 9%);
	color: hsl(0 0% 100%);
}

.font-display {
	font-family: 'Bricolage Grotesque', sans-serif !important;
	font-weight: 600;
}

.font-display-light {
	font-family: 'Bricolage Grotesque', sans-serif !important;
	font-weight: 400;
}

:root {
	--color-neutral-900: hsl(243 96% 9%);
	--color-neutral-800: hsl(243 27% 20%);
	--color-neutral-700: hsl(243 23% 24%);
	--color-neutral-600: hsl(243 23% 30%);
	--color-neutral-300: hsl(240 6% 70%);
	--color-neutral-200: hsl(250 6% 84%);
	--color-neutral-0: hsl(0 0% 100%);

	--color-orange-500: hsl(28 100% 52%);

	--color-blue-500: hsl(233 67% 56%);
	--color-blue-700: hsl(248 70% 36%);

	--font-sans: 'DM Sans', sans-serif;
	--font-display: 'Bricolage Grotesque', sans-serif;
}